<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
    </header>
    <div class="container">
        <section class="landingPage">
            <div class="landingPageLogo"></div>
            <h1>Simple Budget</h1>
            <button class="landingPageButton"><a id="testing" href="#income"> Start Your Budget</a></button>
        </section>

        <section id="income" class="incomePage">
            <div class="incomePageInner">
                <h1>Hellooo</h1>
            </div>
        </section>

        <section>
            <div>
                <!-- <h1>Hello again old friend</h1> -->
            </div>
        </section>




        <!-- <div id="income-comp">
            <h1>Enter in all monthly income</h1>
            <h2>Primary Income</h2>
            <input type="number" v-model="primaryIncome">
            <h2>Secondary Income</h2>
            <input type="number" v-model="secondaryIncome">
            <br>
            <button type="submit" v-on:click="incomeCompDone">Finished</button>
             <greeting></greeting>
        <!-- </div> --> 

        <!-- <div id="fixed-exp">
            <h1>Fixed expenses</h1>
            <fixedexpensecomponent></fixedexpensecomponent>
        </div> -->


        <!-- <div id="variable-exp">
            <h1>Variable expenses are all expenses that might be inconsistant throughout the month. i.e eating out, gifts etc.</h1>
        </div> -->

        <!-- <div id="test">
            <input type="text" v-model="firstName">
            <input type="text" v-model="lastName">
            <input type="text" v-on:keyup.enter="onEnter">
            <h2>{{fullName}}</h2>
        </div> -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>